# new One - Dev started 1/12/2022

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold

In [3]:
#!pip install rbo
# https://github.com/changyaochen/rbo

In [4]:
###variables
continuous_values = ["Age", "trestbps", "chol", "thalach", "oldpeak"]

cv = KFold(n_splits=10)

NA_REPLACE = ["?"]

In [5]:
real_data = pd.read_table(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data",
    sep=",",
    header=None,
)

cols = [
    "Age",
    "sex",
    "cp",
    "trestbps",
    "chol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num",
]

NR_COLS = len(cols)
real_data.columns = cols
real_data.head(4)

,Age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0

In [10]:
synth_data = pd.read_csv("synth.csv", index_col=0).reset_index(drop=True)

synth_data.columns = [
    "Age",
    "sex",
    "cp",
    "trestbps",
    "chol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num",
]
synth_data.head(4)

synth_data_ctgan = pd.read_csv("synth1_ctgan.csv", index_col=0).reset_index(drop=True)
synth_data_gaussian = pd.read_csv("synth1_gaussian.csv", index_col=0).reset_index(
    drop=True
)

In [11]:
# categorical variables are aprehend by difference
categorical_values = real_data[real_data.columns.difference(continuous_values)].columns

In [12]:
for col in NA_REPLACE:
    synth_data.replace(col, np.nan, inplace=True)
    real_data.replace(col, np.nan, inplace=True)
    synth_data_ctgan.replace(col, np.nan, inplace=True)
    synth_data_gaussian.replace(col, np.nan, inplace=True)

In [13]:
def get_high_null(df):
    high_null_cols = []
    for column in df.columns:
        if df[column].isna().sum() / len(df) >= 0.8:
            # print(column,categoricaldf[column].isna().sum()/7743)
            high_null_cols.append(column)
    return high_null_cols


high_null = get_high_null(real_data)
real_data.drop(columns=high_null, inplace=True)

In [14]:
real_data = real_data[synth_data.columns]
synth_data = synth_data[real_data.columns]

In [15]:
continuous_values = [col for col in continuous_values if col in real_data.columns]
categorical_values = [col for col in categorical_values if col in real_data.columns]

In [12]:
from sklearn.impute import SimpleImputer

imp_mean = SimpleImputer(missing_values=np.nan, strategy="mean")
x_cont = imp_mean.fit_transform(real_data[continuous_values])
imp_mean = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
x_cat = imp_mean.fit_transform(real_data[categorical_values])
real_data[continuous_values] = pd.DataFrame(x_cont, columns=continuous_values)
real_data[categorical_values] = pd.DataFrame(x_cat, columns=categorical_values)

In [13]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy="mean")
x_cont = imp_mean.fit_transform(synth_data[continuous_values])
imp_mean = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
x_cat = imp_mean.fit_transform(synth_data[categorical_values])
synth_data[continuous_values] = pd.DataFrame(x_cont, columns=continuous_values)
synth_data[categorical_values] = pd.DataFrame(x_cat, columns=categorical_values)

In [ ]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy="mean")
x_cont = imp_mean.fit_transform(synth_data[continuous_values])
imp_mean = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
x_cat = imp_mean.fit_transform(synth_data[categorical_values])
synth_data[continuous_values] = pd.DataFrame(x_cont, columns=continuous_values)
synth_data[categorical_values] = pd.DataFrame(x_cat, columns=categorical_values)

In [14]:
# convert types
real_data[continuous_values] = real_data[continuous_values].astype("float64")
real_data[categorical_values] = (
    real_data[categorical_values].astype("float64").astype(str)
)

synth_data[continuous_values] = synth_data[continuous_values].astype("float64")
synth_data[categorical_values] = (
    synth_data[categorical_values].astype("float64").astype(str)
)

In [15]:
real_data.to_csv("real_data_testing.csv")
synth_data.to_csv("synth_data_testing.csv")

# dataset2

In [1]:
# new data
real_data2 = pd.read_table(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data",
    sep=",",
    header=None,
)

# https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic

NameError: name 'pd' is not defined

In [17]:
real_data2
real_data2_cols = [
    "id",
    "Clump_Thickness",
    "Uniformity_of_Cell_Size",
    "Uniformity_of_Cell_Shape",
    "Marginal_Adhesion",
    "Single_Epithelial_Cell_Size",
    "Bare_Nuclei",
    "Bland_Chromatin",
    "Normal_Nucleoli",
    "Mitoses",
    "Class",
]
real_data2.columns = real_data2_cols


continuous_values2 = [
    "Clump_Thickness",
    "Uniformity_of_Cell_Size",
    "Uniformity_of_Cell_Shape",
    "Marginal_Adhesion",
    "Single_Epithelial_Cell_Size",
    "Bare_Nuclei",
    "Bland_Chromatin",
    "Normal_Nucleoli",
    "Mitoses",
]

categorical_values2 = real_data2[
    real_data2.columns.difference(continuous_values2)
].columns
categorical_values2

Index(['Class', 'id'], dtype='object')

In [18]:
for col in NA_REPLACE:
    #  synth_data2.replace(col,np.nan,inplace=True)
    real_data2.replace(col, np.nan, inplace=True)

In [21]:
from sklearn.impute import SimpleImputer

imp_mean = SimpleImputer(missing_values=np.nan, strategy="mean")
x_cont = imp_mean.fit_transform(real_data2[continuous_values2])
imp_mean = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
x_cat = imp_mean.fit_transform(real_data2[categorical_values2])
real_data2[continuous_values2] = pd.DataFrame(x_cont, columns=continuous_values2)
real_data2[categorical_values2] = pd.DataFrame(x_cat, columns=categorical_values2)

In [23]:
real_data2.to_csv("real_data2_testing.csv")
# synth_data2.to_csv("synth_data2_testing.csv")

# dataset3

In [26]:
real_data3 = pd.read_table(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/liver-disorders/bupa.data",
    sep=",",
    header=None,
)
real_data3_cols = ["mcv", "alkphos", "sgpt", "sgot", "gammagt", "drinks", "Selector"]
real_data3.columns = real_data3_cols
# https://archive-beta.ics.uci.edu/dataset/60/liver+disorders

In [27]:
real_data3

     mcv  alkphos  sgpt  sgot  gammagt  drinks  Selector
0     85       92    45    27       31     0.0         1
1     85       64    59    32       23     0.0         2
2     86       54    33    16       54     0.0         2
3     91       78    34    24       36     0.0         2
4     87       70    12    28       10     0.0         2
..   ...      ...   ...   ...      ...     ...       ...
340   99       75    26    24       41    12.0         1
341   96       69    53    43      203    12.0         2
342   98       77    55    35       89    15.0         1
343   91       68    27    26       14    16.0         1
344   98       99    57    45       65    20.0         1

[345 rows x 7 columns]

In [28]:
continuous_values3 = ["mcv", "alkphos", "sgpt", "sgot", "gammagt", "drinks"]

categorical_values3 = real_data3[
    real_data3.columns.difference(continuous_values3)
].columns
categorical_values3

Index(['Selector', 'drinks'], dtype='object')

In [29]:
real_data3.to_csv("real_data3_testing.csv")

# dataset4

In [42]:
real_data4 = pd.read_table(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/new-thyroid.data",
    sep=",",
    header=None,
)
real_data4_cols = ["Class", "T3", "TST", "TSTRI", "TSH", "TMAX"]
real_data4.columns = real_data4_cols
# https://archive.ics.uci.edu/dataset/102/thyroid+disease

In [43]:
real_data4

     Class   T3   TST  TSTRI  TSH  TMAX
0        1  107  10.1    2.2  0.9   2.7
1        1  113   9.9    3.1  2.0   5.9
2        1  127  12.9    2.4  1.4   0.6
3        1  109   5.3    1.6  1.4   1.5
4        1  105   7.3    1.5  1.5  -0.1
..     ...  ...   ...    ...  ...   ...
210      3  118   6.5    1.3  1.7  11.5
211      3  139   4.2    0.7  4.3   6.3
212      3  103   5.1    1.4  1.2   5.0
213      3   97   4.7    1.1  2.1  12.6
214      3  102   5.3    1.4  1.3   6.7

[215 rows x 6 columns]

In [44]:
continuous_values4 = ["T3", "TST", "TSTRI", "TSH", "TMAX"]
categorical_values4 = real_data4[
    real_data4.columns.difference(continuous_values4)
].columns
categorical_values4

Index(['Class'], dtype='object')

In [45]:
real_data4.to_csv("real_data4_testing.csv")
# https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/

## dataset5

In [51]:
real_data5 = pd.read_table(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/dermatology/dermatology.data",
    sep=",",
    header=None,
)
real_data5_cols = [
    "erythema",
    "scaling",
    "definite_borders",
    "itching",
    "koebner_phenomenon",
    "polygonal_papules",
    "follicular_papules",
    "oral_mucosal_involvement",
    "knee_and_elbow_involvement",
    "scalp_involvement",
    "family_history",
    "melanin_incontinence",
    "eosinophils_in_the_infiltrate",
    "PNL_infiltrate",
    "fibrosis_of_the_papillary_dermis",
    "exocytosis",
    "acanthosis",
    "hyperkeratosis",
    "parakeratosis",
    "clubbing_of_the_rete_ridges",
    "elongation_of_the_rete_ridges",
    "thinning_of_the_suprapapillary_epidermis",
    "spongiform_pustule",
    "munro_microabcess",
    "focal_hypergranulosis",
    "disappearance_of_the_granular_layer",
    "vacuolisation_and_damage_of_basal_layer",
    "spongiosis",
    "saw-tooth_appearance_of_retes",
    "follicular_horn_plug",
    "perifollicular_parakeratosis",
    "inflammatory_monoluclear_inflitrate",
    "band-like_infiltrate",
    "Age_linear",
    "class",
]
real_data5.columns = real_data5_cols
# https://archive.ics.uci.edu/dataset/33/dermatology

In [52]:
real_data5

,erythema,scaling,definite_borders,itching,koebner_phenomenon,polygonal_papules,follicular_papules,oral_mucosal_involvement,knee_and_elbow_involvement,scalp_involvement,...,disappearance_of_the_granular_layer,vacuolisation_and_damage_of_basal_layer,spongiosis,saw-tooth_appearance_of_retes,follicular_horn_plug,perifollicular_parakeratosis,inflammatory_monoluclear_inflitrate,band-like_infiltrate,Age_linear,class
0,2,2,0,3,0,0,0,0,1,0,...,0,0,3,0,0,0,1,0,55,2
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
2,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
3,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
4,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2,1,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,2,0,25,4
362,3,2,1,0,1,0,0,0,0,0,...,1,0,1,0,0,0,2,0,36,4
363,3,2,2,2,3,2,0,2,0,0,...,0,3,0,3,0,0,2,3,28,3
364,2,1,3,1,2,3,0,2,0,0,...,0,2,0,1,0,0,2,3,50,3
365,3,2,2,0,0,0,0,0,3,3,...,2,0,0,0,0,0,3,0,35,1

In [53]:
continuous_values5 = ["Age_linear"]
categorical_values5 = real_data5[
    real_data5.columns.difference(continuous_values5)
].columns
categorical_values5

Index(['PNL_infiltrate', 'acanthosis', 'band-like_infiltrate', 'class',
       'clubbing_of_the_rete_ridges', 'definite_borders',
       'disappearance_of_the_granular_layer', 'elongation_of_the_rete_ridges',
       'eosinophils_in_the_infiltrate', 'erythema', 'exocytosis',
       'family_history', 'fibrosis_of_the_papillary_dermis',
       'focal_hypergranulosis', 'follicular_horn_plug', 'follicular_papules',
       'hyperkeratosis', 'inflammatory_monoluclear_inflitrate', 'itching',
       'knee_and_elbow_involvement', 'koebner_phenomenon',
       'melanin_incontinence', 'munro_microabcess', 'oral_mucosal_involvement',
       'parakeratosis', 'perifollicular_parakeratosis', 'polygonal_papules',
       'saw-tooth_appearance_of_retes', 'scaling', 'scalp_involvement',
       'spongiform_pustule', 'spongiosis',
       'thinning_of_the_suprapapillary_epidermis',
       'vacuolisation_and_damage_of_basal_layer'],
      dtype='object')

In [56]:
for col in NA_REPLACE:
    # synth_data5.replace(col,np.nan,inplace=True)
    real_data5.replace(col, np.nan, inplace=True)

In [57]:
from sklearn.impute import SimpleImputer

imp_mean = SimpleImputer(missing_values=np.nan, strategy="mean")
x_cont = imp_mean.fit_transform(real_data5[continuous_values5])
imp_mean = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
x_cat = imp_mean.fit_transform(real_data5[categorical_values5])
real_data5[continuous_values5] = pd.DataFrame(x_cont, columns=continuous_values5)
real_data5[categorical_values5] = pd.DataFrame(x_cat, columns=categorical_values5)

In [58]:
real_data5.to_csv("real_data5_testing.csv")

## dataset 6

In [4]:
real_data6 = pd.read_table(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/primary-tumor/primary-tumor.data",
    sep=",",
    header=None,
)

# https://archive.ics.uci.edu/ml/machine-learning-databases/primary-tumor/
real_data6

     0   1  2  3  4   5   6   7   8   9   10  11 12  13  14 15  16  17
0     1   1  1  ?  3   2   2   1   2   2   2   2  2   2   2  2   2   2
1     1   1  1  ?  3   2   2   2   2   2   1   2  2   2   1  2   1   2
2     1   1  2  2  3   1   2   2   2   2   2   2  2   2   2  2   1   2
3     1   1  2  ?  3   1   2   1   1   2   2   2  2   2   2  2   1   2
4     1   1  2  ?  3   1   2   1   1   2   2   2  2   2   2  2   1   2
..   ..  .. .. .. ..  ..  ..  ..  ..  ..  ..  .. ..  ..  .. ..  ..  ..
334  22   2  2  2  ?   2   2   2   2   2   2   2  2   2   2  1   2   2
335  22   2  2  2  ?   2   2   2   2   2   2   2  2   2   2  1   2   2
336  22   2  2  ?  ?   1   2   2   2   2   2   2  2   2   1  1   2   2
337  22   3  2  2  2   2   2   2   2   2   2   2  2   1   1  1   2   2
338  22   3  2  2  2   2   2   2   2   2   2   2  2   2   1  1   2   2

[339 rows x 18 columns]

In [5]:
real_data6_cols = [
    "class",
    "age",
    "sex",
    "histologic-type",
    "degree-of-diffe",
    "bone",
    "bone-marrow",
    "lung",
    "pleura",
    "peritoneum",
    "liver",
    "brain",
    "skin",
    "neck",
    "supraclavicular",
    "axillar",
    "mediastinum",
    "abdominal",
]

real_data6.columns = real_data6_cols

In [6]:
continuous_values6 = [""]
categorical_values6 = real_data6[
    real_data6.columns.difference(continuous_values6)
].columns
categorical_values6

Index(['abdominal', 'age', 'axillar', 'bone', 'bone-marrow', 'brain', 'class',
       'degree-of-diffe', 'histologic-type', 'liver', 'lung', 'mediastinum',
       'neck', 'peritoneum', 'pleura', 'sex', 'skin', 'supraclavicular'],
      dtype='object')

In [9]:
for col in NA_REPLACE:
    # synth_data5.replace(col,np.nan,inplace=True)
    real_data6.replace(col, np.nan, inplace=True)

In [11]:
from sklearn.impute import SimpleImputer

imp_mean = SimpleImputer(missing_values=np.nan, strategy="most_frequent")
x_cat = imp_mean.fit_transform(real_data6[categorical_values6])
real_data6[categorical_values6] = pd.DataFrame(x_cat, columns=categorical_values6)

In [12]:
real_data6.to_csv("real_data6_testing.csv")